.botones-menu button{
  background-color: $white;
  border: none;
  padding: 5px 15px;
  }

  .botones-menu #registrate{
    background-color: $ballblue;
    color: $white;
    }
  .botones-menu #registrate:hover{
    background-color: $middleblue;
    transition-property: all;
  }

.card button{
  width: 80%;
  background-color: $ballblue;
  margin:  0px 10% 0px 10%;
  padding: 5px;
  border: none;
  color: $white;
}
