@media screen and (min-width:500px){
  .botones-menu i {
    display: none;
  }
}


@media screen and (max-width:500px){
  .menu-logo li{
    display: none;
  }
  .botones-menu button{
    display: none;
  }

  .botones-menu i{
    font-size: 2rem;
  }
header .foto-portada{
  background-position-y: bottom;
  height: 550px;
  }
  .foto-portada .titulo-portada{
    width: 250px;
  }
  .imagen-parrafo{
    display: flex;
    flex-direction: column;
  }
  .parrafo-estadisticas{
    height: 150px;
    width: auto;
    margin: 20px 5px 30px 5px;
  }

  .bg-price{
    background-size: contain;
    background-position-x: center;
    background-size: cover;
  }
  .bg-price{
    background-position-x: center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 1180px;

  }
  .cartas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .bg-price .card{
    height: auto;
    width: 80%;
    margin: 10px auto;
  }
  .footer{
    height: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  .footer .izquierda-footer{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer .derecha-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card button{
    margin: 0px 10% 15px 10%;
  }
}
