.titulo-portada h1{
  font-family: $raleway;
  font-weight: $bold;
  color:$risingblack;
  font-size:  $xxxx-large;
}
.titulo-portada p{
  font-family: $raleway;
  font-weight:$regular ;
  color:$risingblack;
}
.Caracteristicas h2{
  text-align: center;
  margin:0px 0px 60px 0px;
  font-family: $raleway;
  font-weight: $bold;
  font-size: $xx-large;
}
.Caracteristicas .parrafo-estadisticas h3{
  font-family: $raleway;
  font-weight: $bold;
  font-size: $x-large;
}
