//colors

$white:#fff;
$darksalmon:#EE9480;
$ballblue:#2AB7CA;
$onyx:#333745;
$risingblack:#221D23;
$platinium:#E8E8E8;
$melon:#F4BAAE;
$middleblue:#77D1DD;
$spanishgray:#8F9199;
$nickel:#726F73;

//font family

$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;

//font weight

$regular: 400;
$bold:700;

 //font size
 $xxxxx-large:50px;
 $xxxx-large:45px;
 $xxx-large:40px;
 $xx-large:35px;
 $x-large:30px;
 $large:20px;
 $medium:16px;
 $small:14px;
 $x-small:12px;
