.imagen-parrafo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.parrafo-estadisticas{
  height: 150px;
  width: 400px;
}

 .bg-price .card {
  height: 360px;
  width: 320px;
  background-color:$white;
  margin:0px 25px 50px 25px;

}
.bg-price{
 background-image: url(../img/bg-price.svg);
 background-repeat: no-repeat;
 height: 650px;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;


}

.cartas{
  display: flex;
  flex-direction: row;
  justify-content:center;
}
#card1 hr{
  margin-top: 52px;
}
.card hr{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
